/* CSS Document */
/* line 3, scss/style.scss */
body {
  background-image: url("images/backgrounds/Untitled.jpg");
  background-attachment: fixed;
}

/* line 11, scss/style.scss */
#back {
  height: 1024px;
  width: 768px;
  background-color: black;
}

/* line 17, scss/style.scss */
#a {
  position: absolute;
  left: 39%;
  border: 50px;
}

/* line 23, scss/style.scss */
#in {
  position: absolute;
  left: 40%;
  border: 50px;
}

/* line 29, scss/style.scss */
#b {
  width: 80%;
}

/* line 35, scss/style.scss */
p {
  color: #ffffff;
  font-family: Comic Sans MS;
}

/* line 40, scss/style.scss */
#e img {
  width: 130px;
  height: 160px;
  float: left;
}

/* line 47, scss/style.scss */
.b {
  font-size: 48px;
}

/* line 51, scss/style.scss */
.c {
  font-size: 48px;
}

/* line 56, scss/style.scss */
a {
  text-decoration: none;
  color: #ffffff;
  font-family: Comic Sans MS;
}

/* line 62, scss/style.scss */
#b div {
  display: inline;
}

/* line 66, scss/style.scss */
#bd img {
  position: relative;
  top: 6px;
}

/* line 71, scss/style.scss */
#b {
  text-align: center;
  font-size: 20px;
}

/* line 79, scss/style.scss */
table {
  width: 100%;
  border-collapse: collapse;
}

/* line 84, scss/style.scss */
.a {
  width: 20%;
}

/* line 88, scss/style.scss */
.b {
  width: 40%;
}

/* line 92, scss/style.scss */
table {
  width: 100%;
  border-collapse: collapse;
}

/* line 97, scss/style.scss */
.c {
  width: 40%;
}

/* line 101, scss/style.scss */
td {
  height: 30px;
  padding: 100px;
  vertical-align: bottom;
}

/* line 107, scss/style.scss */
table img {
  width: 200px;
  height: 300px;
}

/* line 112, scss/style.scss */
td {
  color: #fffffff;
  font-family: Comic Sans MS;
}

/* line 117, scss/style.scss */
.y {
  width: 1400px;
  margin: 0 auto;
  border-color: #333;
  background-color: rgba(100, 100, 100, 0.75);
}

/* line 124, scss/style.scss */
.o {
  width: 1900px;
  margin: 0 auto;
}

/* line 129, scss/style.scss */
.ank {
  display: inline;
}

/* line 133, scss/style.scss */
#menu-main-nav {
  text-align: center;
  font-size: 20px;
}

/* line 138, scss/style.scss */
#search {
  text-align: right;
  font-size: 20px;
}

/* line 143, scss/style.scss */
#site-title {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman",Georgia,Serif;
}

/* line 152, scss/style.scss */
#menu-item-27, #menu-item-232, #menu-item-233, #menu-item-30, #menu-item-28, #menu-item-31, #menu-item-29 {
  padding: 5px;
  display: inline;
}

	/*border-width:4px;
	font-size:larger;

#menu-item-27:hover{
	background-color:#FFFFFF;	
}

#menu-item-232:hover{
	background-color:#FFFFFF;	
}

#menu-item-233:hover{
	background-color:#FFFFFF;	
}

#menu-item-30:hover{
	background-color:#FFFFFF;	
}


#menu-item-28:hover{
	background-color:#FFFFFF;	
}

#menu-item-29:hover{
	background-color:#FFFFFF;	
}*/
/* line 186, scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: Comic Sans MS;
}

/* line 190, scss/style.scss */
.c {
  color: #ffffff;
}

/* line 193, scss/style.scss */
#e img {
  width: 250px;
  height: 300px;
}

/* line 199, scss/style.scss */
.y a {
  float: left;
}

/* line 203, scss/style.scss */
.aa img {
  width: 280px;
  height: 350px;
}

/* line 208, scss/style.scss */
#f {
  clear: left;
}

/* line 212, scss/style.scss */
.e {
  float: right;
}

/* line 216, scss/style.scss */
#ee {
  width: 50px;
  height: 50px;
  position: relative;
  left: 10px;
  top: 20px;
}

/* line 224, scss/style.scss */
#eee {
  padding: 15px;
  float: left;
}

/* line 231, scss/style.scss */
.ef {
  float: left;
  width: 450px;
  height: 382px;
}

/* line 238, scss/style.scss */
.h {
  float: left;
  width: 800px;
  height: 800px;
}

/* line 244, scss/style.scss */
.eg {
  clear: both;
}

/* line 248, scss/style.scss */
#aa {
  width: 250px;
  border: solid 3px #ffffff;
  height: 300px;
}

/* line 253, scss/style.scss */
#y img {
  width: 250px;
  border: solid 3px #ffffff;
  height: 300px;
}
#y
{
  margin-top: 
}

/* line 260, scss/style.scss */
.entry-title {
  color: black;
}
.sub-menu
{
  display: none;
  list-style: none;
  width: 100px;
  position: absolute;
  left: 53%;
}
.menu-item-31:hover .sub-menu
{
  display: block;
}
.UpArrow
{
  display:none;
  width:100px;
  height:100px;
  position:fixed;
  left:90%;
  top:70%;
  background-color:#c6c6c6;
  opacity:0.3;
}
.UpArrow:hover
{
  opacity:1;
}
