@charset "utf-8";
/* CSS Document */
		body{
background-image:url('images/backgrounds/Untitled.jpg') ;

background-attachment:fixed;
}


#back
{
	height:1024px;
	width:768px;
	background-color:rgb(0,0,0);
}

#a{
	position:absolute;
	left: 39%;
	border:50px;
	
}
#in{
	position:absolute;
	left: 40%;
	border:50px;
	
}
#b{
	width:80%;
	
}


p{
	color:#ffffff;
	font-family:Comic Sans MS;
}

#e img{
	width:130px;
	height:160px;
	float:left;
	
}

.b{
	font-size:48px;
}

.c{
	font-size:48px;
}


a {
	text-decoration: none;
	color:#ffffff;
	font-family:Comic Sans MS;
}

#b div{
	display:inline;
}

#bd img{
	position:relative;
	top:6px;
}

#b{
	text-align:center;
	font-size:20px;
}




table{
	width:100%;
	border-collapse:collapse;
}

.a{
	width:20%;
}

.b{
	width:40%;
}

table{
	width:100%;
	border-collapse:collapse;
}

.c{
	width:40%;
}

td{
	height:30px;
	padding:100px;
	vertical-align:bottom;
}

table img{
	width:200px;
	height:300px;
}

td{
	color:#fffffff;
	font-family:Comic Sans MS;
}

.y{
	width:1400px;
	margin:0 auto;
	border-color:#333;
	background-color:rgba(100,100,100,0.75);
	}

.o {
	width:1900px;
	margin:0 auto;
	
}
.ank{
display:inline;
}
#menu-main-nav
{
	text-align:center;
	font-size:20px;
}
#search
{
	text-align:right;
	font-size:20px;
}
#site-title
{
	text-align:center;
	font-size:50px;
	font-family:"Times New Roman",Georgia,Serif;


}


#menu-item-27,#menu-item-232,#menu-item-233,#menu-item-30,#menu-item-28,#menu-item-31,#menu-item-29{
	padding:5px;
	display: inline;
	
	}

	/*border-width:4px;
	font-size:larger;

#menu-item-27:hover{
	background-color:#FFFFFF;	
}

#menu-item-232:hover{
	background-color:#FFFFFF;	
}

#menu-item-233:hover{
	background-color:#FFFFFF;	
}

#menu-item-30:hover{
	background-color:#FFFFFF;	
}


#menu-item-28:hover{
	background-color:#FFFFFF;	
}

#menu-item-29:hover{
	background-color:#FFFFFF;	
}*/

h1,h2,h3,h4,h5,h6{
	color:#ffffff;;
	font-family:Comic Sans MS;
}
.c{
	color:#ffffff;
}
#e img{
	width:250px;
	height:300px;
	
}

.y a{
	float:left;
}

.aa img{
	width:280px;
	height:350px;
}

#f{
	clear:left;
}

.e{
	float:right;
}

#ee{
	width:50px;
	height:50px;
	position:relative;
	left:10px;
	top:20px;
}

#eee{
	padding:15px;
	float:left;
}



.ef{
	float:left;
	width:450px;
	height:382px;
	
}

.h{
	float:left;
	width:800px;
	height:800px;
}

.eg{
	clear:both;
}

#aa{
	width:250px;
	border:solid 3px #ffffff;
	height:300px;
}
#y img{
	width:250px;
	border:solid 3px #ffffff;
	height:300px;
}

.entry-title
{
	color:rgba(0,0,0,1);
}

